%section
  #header.head
    = react_component 'Header', {}, :div
%section
  #learn_courses
    = react_component 'Learn', {learn_courses: @learn_courses}, :div
%section
  #entertainment_courses
    = react_component 'Entertainment', {entertainment_courses: @entertainment_courses}, :div
