%section
  #header.head
    = react_component 'Header', {}, :div
  - if flash[:notice]
    .alert-message
      = flash[:notice]
%section
  #login.login
    = react_component 'Login', {validate: validate_path, signup: signup_path}, :div